# 1-> Let's take string as user input

In [107]:
str = input() # Let's give "Hello World"

Hello World

In [108]:
print(str)

Hello World

In [109]:
str

'Hello World'

In [110]:
type(str)

str

# 2-> Let's take integer as user input

In [111]:
num = input() # Let's give 9

9

In [112]:
type(num)

str

As you can see by default Python take user input as String , henc we need to explicitly define the object type.

In [113]:
num = int(input()) # let's give 9

9

In [114]:
num, type(num)

(9, int)

# 3-> Let's take Float as user input  (Same way as Integer)

In [115]:
fl = float(input()) # let's take 4.5

4.5

In [116]:
fl, type(fl)

(4.5, float)

In [117]:
f = float(input()) # Let's give int, it will be converted to float, Vice verse is not possible check after this.

5

In [118]:
f, type(f)

(5.0, float)

In [119]:
m = int(input()) 
# if you define it as integer and pass the value as float, interpreter will flash the error as Int/Float can not be converted

4.5

ValueError: invalid literal for int() with base 10: '4.5'

# 4-> Other way to get the int and float values

In [120]:
x = input() # let's give 3

3

In [121]:
x, type(x)

('3', str)

In [122]:
x = int(x)

In [123]:
x, type(x)

(3, int)

In Same way we can do for float as well

In [ ]:
#Note - You can not convert int/float to string.

In [124]:
y = str(x)

TypeError: 'str' object is not callable

# 5-> Let's take multiple string values in single row

In [126]:
x,y,z = input().split()

I am Amit

In [127]:
x,y,z, type(x), type(y), type(z)

('I', 'am', 'Amit', str, str, str)

Split("value") is a string function which split the string on value provided, by default it take " " or Space

In [128]:
str = "Amit#Upadhyay"
str

'Amit#Upadhyay'

In [129]:
str = str.split("#")

In [130]:
str, type(str), str[0], type(str[0]) # 3rd item is 1st value in the list and 4th item is type of that value

(['Amit', 'Upadhyay'], list, 'Amit', str)

Split Function split the string and gives you the list of the strings

In [131]:
str = "2 3 4 5 6"
str, str.split()

('2 3 4 5 6', ['2', '3', '4', '5', '6'])

# 6-> Let's take multiple int/float in single row

In [132]:
n, m = int(input().split()) # let's take 3 4

3 4

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

As we saw it earlier that output of the split is list, so you can't have list as input, it expect string or float

# Map() Function in Python

The map(function, iterables) function executes a specified function for each item in a iterable. The item is sent to the function as a parameter.

Let's use int() function and iterable as list (The output of split will be list)

Function : Int()

Iterable : input().split() # It will return list, which is iterble

In [133]:
x, y, z = map(int, input().split()) # let's take 3,4, 5

3 4 5

In [134]:
x,y, z, type(y)

(3, 4, 5, int)

In the same way, we can do for float

# 7-> Let's take input in the list

In [ ]:
# Let's make list of string

In [135]:
mylist = input().split() # let's take "I am Amit Upadhyay"

I am Amit Upadhyay

In [136]:
mylist

['I', 'am', 'Amit', 'Upadhyay']

In [137]:
type(mylist)

list

In [138]:
# Let's make list of int/float,

In [139]:
numlist = map(int, input().split()) # let's take 2 3 4 5 6 7

2 3 4 5 6 7

In [140]:
numlist, type(numlist)

(<map at 0x2e2a7502bc8>, map)

map object is returned by map() function, you can see in above output that type is map

No big deal, let's convert this into list in a same way as we converted the string into int using int()

In [141]:
numlist = list(numlist)

In [142]:
numlist, type(numlist)

([2, 3, 4, 5, 6, 7], list)

In [143]:
#let's check the type of it's member

In [144]:
type(numlist[3])

int

We can combine the map and conversion in single line, by calling the map() function in list() function

In [146]:
numlist = list(map(float, input().split())) # let's take 2.2 3 4 5 66

2.2 3 4 5 66

In [147]:
numlist, type(numlist), type(numlist[3])

([2.2, 3.0, 4.0, 5.0, 66.0], list, float)

In [148]:
# Slicing - You can slice the list or string using [Starting_From:Till_here], Till_here index will not be included

In [149]:
n = [2,3,4,5,6]

In [150]:
n[:] # It will print all 0 to last

[2, 3, 4, 5, 6]

In [151]:
n[2:] # from second index to last

[4, 5, 6]

In [152]:
n[:3] # from 0 index to index 3

[2, 3, 4]

In [153]:
n[2:4] # from 2 index to index 4

[4, 5]

In [154]:
n[-1:] # from index -1 (means from end) to till end of index, which is only one value

[6]

In [155]:
# If we are taking input in the list, if there is condtion that we need to take 5 value for the list, 
# and user gives more that can be restricted by slicing

In [156]:
# we need 3 value for the list
n = 3

In [157]:
mylist = list(map(int, input().split()[:n])) # let's give 2 3 4 5 6 7

2 3 4 5 6 7

In [158]:
mylist, len(mylist), type(mylist), type(mylist[2])

([2, 3, 4], 3, list, int)

In [159]:
# You can see the output, we have interger list with 3 members.

In [160]:
                                    # Thank you so much for reading